################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Puzzle/.vs/Puzzle
/Puzzle/obj
/Puzzle/bin
